<div class="main">
    <p>La réservation provient de :</p>
    <div id="source">
        <div>
            <mat-slide-toggle>Airbnb</mat-slide-toggle>
            <mat-slide-toggle>Booking</mat-slide-toggle>
            <mat-slide-toggle>VRBO</mat-slide-toggle>
            <mat-slide-toggle>Direct</mat-slide-toggle>
        </div>
        <div class="other-message">
            Configurer un autre message
        </div>
    </div>

    <div id="content">
        <div id="upper-nav">
            <div id="nav-elements">
                <div id="mail">
                    Mail
                </div>
                <div>
                    SMS
                </div>
                <div>
                    WhatsApp
                </div>
            </div>
            <div>
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
        <div id="modifier-message">
            Modifier le message
        </div>

        <p id="first-paragraph">Ce message va directement dans la messagerie de votre plateforme de réservation en ligne</p>

        <p>Merci d'avoir réservé mon logement!</p>
        <p>Afin de vous donner la meilleure expérience pendant votre séjour,j'utilise la plateforme <br>
            Yaago.com Grâce à Yaago, vous pourrez accéder à des information supplémentaires au <br>
            sujet de mon logement et de ses alentours.</p>

        <p>Merci de cliquer sur le lien ci-dessous pour confirmer vos informations de réservation et<br>
        préparer votre séjour.</p>

        <p>[bouton avec le lien pour le Guest]</p>

        <p>[Prénom de l'hôte] [Nom de l'hôte]</p>
    </div>
</div>