<div class="element">
    <div class="flex">
        <mat-icon>check_circle</mat-icon>
        <p>Immédiat</p>
    </div>
    <div>
        <mat-icon> email</mat-icon>
    </div>

</div>
<hr>
<div class="element">
    <div class="flex">
        <mat-icon class="green">check_circle</mat-icon>
        <p>30 J avant l'arrivée</p>
    </div>
    <div>
        <mat-icon> stay_primary_portrait</mat-icon>
        <mat-icon> email</mat-icon>
    </div>
</div>
<hr>
<div class="element">
    <div class="flex">
        <mat-icon class="green">check_circle</mat-icon>
        <p>7 J avant l'arrivée</p>
    </div>
    <div>
        <mat-icon> stay_primary_portrait</mat-icon>
    </div>
</div>
<hr>
<div class="element">
    <div class="flex">
        <mat-icon class="green">check_circle</mat-icon>
        <p>1 J avant l'arrivée</p> 
    </div>
    <div>
        <mat-icon> email</mat-icon>
    </div>
</div>
<hr>

<div class="element">
    <div class="flex">
        <mat-icon class="green">check_circle</mat-icon>
        <p>1 J après l'arrivée</p>
    </div>
    <div>
        <mat-icon> stay_primary_portrait</mat-icon>
    </div>
</div>
<hr>
<div class="element">
    <div class="flex">
        <mat-icon class="red">remove_circle</mat-icon>
        <p>1 J avant le départ</p>    
    </div>
</div>
<hr>
<div class="element">
    <div class="flex">
        <mat-icon class="red">remove_circle</mat-icon>
        <p>1 J après le départ</p>
    </div>
</div>

<div id="messages-personnalise">
    Mes messages personnalisés
    <p>Vous pouvez programmer un message qui n'est pas dans cette liste? Ex: 4 J avant l'arrivée.</p>
    <button mat-raised-button color="warn">Personnaliser l'envoi</button>
</div>